<mat-dialog-content>

  <mat-form-field class="w-mf-50p">
    <mat-label>Tiêu đề</mat-label>
    <input matInput [(ngModel)]="activity.title" />
  </mat-form-field>
  <mat-form-field class="w-mf-50p">
    <mat-label>Tổng tiền</mat-label>
    <input type="number" matInput [(ngModel)]="activity.totalFee" />
  </mat-form-field>

  <mat-form-field class="w-mf-50p">
    <mat-label>Ngày chơi</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="activity.playDay" />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="w-mf-100p" [hidden]="!playersDataArray">
    <input
      matInput
      #filter
      (keyup)="onSearch($event)"
      placeholder="Tìm kiếm người chơi ..."
    />
  </mat-form-field>

  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    [hidden]="!playersDataArray"
    matSort
    (matSortChange)="updateDataSource()"
    [matSortActive]="defaultSortColumn"
    [matSortDirection]="defaultSortOrder"
    aria-label="participants"
  >
    <!-- Name Column -->
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Người chơi</th>
      <td mat-cell *matCellDef="let player">
        {{ player.fullName }}
        <mat-checkbox
          (change)="participate($event.checked, player)"
          class="example-margin"
        ></mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="waterFee">
      <th mat-header-cell *matHeaderCellDef>Nước</th>
      <td mat-cell *matCellDef="let player">
        <button mat-mini-fab (click)="openWaterFeeDialog(player)" aria-label="Thêm phụ phí "> 
          <mat-icon *ngIf="player.waterFee && player.waterFee.length === 0" aria-hidden="false" aria-label="AddWaterFee" fontIcon="water_bottle"></mat-icon> 
          <mat-icon *ngIf="player.waterFee && player.waterFee.length > 0" aria-hidden="false" aria-label="CheckWaterFee" fontIcon="check"></mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Chọn số trang"
  ></mat-paginator>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onSaveActivity()">Lưu</button>
  <button mat-button (click)="onCancel()">Huỷ</button>
</mat-dialog-actions>
