
<div class="d-flex justify-content-between">

    <button mat-fab  (click)="showPlayersDialog(false)">
        <mat-icon aria-hidden="false" title="Thêm thành viên" aria-label="Thêm thành viên" fontIcon="person_add"></mat-icon>
      </button>
    

          <mat-form-field [hidden]="!playersDataArray">
            <input matInput #filter (keyup)="onSearch($event)"
                   placeholder="Nhập ...">
          </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource"
       class="mat-elevation-z8"
       [hidden]="!playersDataArray"
       matSort (matSortChange)="updateDataSource()"
       [matSortActive]="defaultSortColumn"
       [matSortDirection]="defaultSortOrder"
       aria-label="member">

 

  <!-- Name Column -->
  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Họ tên</th>
    <td mat-cell *matCellDef="let player">
      <a >{{player.fullName}}</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="division">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Ban</th>
    <td mat-cell *matCellDef="let player">
      {{player.division}}
    </td>
  </ng-container>
  <ng-container matColumnDef="paid">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Đã đóng</th>
    <td mat-cell *matCellDef="let player">
        {{ player.paid | currency: 'VND':'symbol':'1.0-0' }}
    </td>
  </ng-container>
  <ng-container matColumnDef="balance">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Còn dư</th>
    <td mat-cell *matCellDef="let player" [ngClass]="{'positiveBalance': player.balance > 0, 'negativeBalance': player.balance <= 0}">
        {{ player.balance | currency: 'VND':'symbol':'1.0-0' }}
    </td>
  </ng-container>
  <ng-container matColumnDef="operation">
    <th mat-header-cell *matHeaderCellDef> Thao tác </th>
    <td mat-cell *matCellDef="let player">
      <!-- Menu Trigger Button -->
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      
      <!-- Menu -->
      <mat-menu #menu="matMenu">
        <!-- Edit Option -->
        <button mat-menu-item (click)="showPlayersDialog(true,player)">
          <mat-icon>edit</mat-icon>
          <span>Sửa</span>
        </button>
  
        <!-- Update Price Option -->
        <button mat-menu-item (click)="depositToFund(player)">
          <mat-icon>assured_workload</mat-icon>
          <span>Đóng quỹ</span>
        </button>
  
        <!-- Delete Option -->
        <button mat-menu-item (click)="deletePlayer(player)">
          <mat-icon>delete</mat-icon>
          <span>Xóa</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons aria-label="Chọn số trang"></mat-paginator>

