.positiveBalance {
  color: green;
}
.negativeBalance {
  color: red;
}
table.mat-table {
  width: 100%;
}
mat-icon {
  vertical-align: middle;
  margin-right: 8px;
}

mat-menu-item span {
  margin-left: 4px;
}
